*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../src/assets/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../src/assets/Fonts/Poppins/Poppins-Bold.ttf");
}

